/* Global Styles */

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Styles */
.container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px; /* Limitar el tamaño máximo */
    background-color: white;
    height: auto; /* Ajustar altura automáticamente */
}

/* Image Styles */
#image {
    max-width: 200px;
    height: auto;
}

/* Image Container Styles */
.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Form Control Styles */
.form-control {
    margin: 5px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    width: 80%;
}

/* Media Queries */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin-top: 5vh;
        width: 90%;
        max-width: 90%;
    }

    .form-control, .btn {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .container {
        padding: 20px;
        width: 80%;
        max-width: 80%;
    }

    .form-control, .btn {
        width: 80%;
    }
}

#isCorrect {
    margin-top: 1rem;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
    border-radius: .5rem;
}
#username, #password {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: .6rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;   
}
.btn-primary {
    color: #fff;
    background-color: #0f6cbf;
    border-color: #0f6cbf;
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border-radius: .6rem;
}