/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container Styles */
.container {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px; /* Limitar el tamaño máximo */
    background-color: white;
    height: auto; /* Ajustar altura automáticamente */
}

/* Image Styles */
#image {
    max-width: 200px;
    height: auto;
}

/* Image Container Styles */
.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Form Control Styles */
.form-control {
    margin: 5px 0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    width: 40%;
    max-width: 300px;
}

/* Media Queries */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        margin-top: 5vh;
        width: 90%;
        max-width: 90%;
    }

    .form-control, .btn {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .container {
        padding: 20px;
        width: 80%;
        max-width: 80%;
    }

    .form-control, .btn {
        width: 80%;
    }
}

