<div *ngIf="!isLoggedIn()">
    <section id="logeo">
        <div class="container">
            <div class="img-container">
                <img style="margin-top: 20px;" id="image" src="https://sendaudit.net/formacion/pluginfile.php/1/core_admin/logocompact/300x300/1718202458/sendauditslider2.png.300x300_q85_crop.jpg" alt="Logo">
            </div>
            <form (ngSubmit)="onSubmit()"  style="margin-bottom: 20px;">
                <input style="max-width: 600px;" type="text" class="form-control" placeholder="Nombre de usuario" [(ngModel)] = "username" name="username"/>
                <input style="max-width: 600px;" type="password" class="form-control" placeholder="Contraseña" [(ngModel)] = "password" name="password"/>
                <button (click) = "reload()" class="btn btn-primary mt-3">Acceder</button>
            </form>
            <a href="#" class="mt-3">¿Ha olvidado contraseña?</a>
            <button type="submit" class="btn btn-secondary mt-3">Aviso de cookies</button>
   
        </div>
    </section>
    
</div>
