<div class="clase" *ngIf="curso">
    
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ curso.nombre }}</h2>
        </div>
        <div class="col-lg-6">
            <img [src]="curso.imagen" alt="Imagen del curso" style="max-width: 60px;">
        </div>
        
    </div>
    <cdk-accordion class="example-accordion mt-3">
        @for (item of items; track item; let index = $index) {
          <cdk-accordion-item
      
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item }}
              <span class="example-accordion-item-description">
                Click to {{ accordionItem.expanded ? 'close' : 'open' }}
              </span>
            </div>
            <div
              class="example-accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index">
              <div>
                <h4>Comenzando en SENDAudit</h4>
                
                <video width="550" height="300" controls autoplay>
                    <source src="aa.mp4" type="video/mp4">
                </video>
                
            </div>
            </div>
          </cdk-accordion-item>
        }
      </cdk-accordion>